/** @format */

.banner {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(24, 1fr);
  grid-column: 2 / 7;
  background-color: $blue-dark;
  background-image: url(../img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner__img-1 {
  grid-column: 3 / 15;
  grid-row: 3 / 12;
  width: 100%;
}

.banner__img-2 {
  grid-column: 5 / -1;
  grid-row: 10 / 23;
  width: 100%;
  transform: translateX(3.5rem);
}
