/** @format */

.sidebar {
  display: flex;
  justify-content: center;
  padding-top: 3.7rem;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: $green-dark;
}

.menu {
  width: 4.5rem;
  height: 0.2rem;
  background-color: $white;
  border: none;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 4.5rem;
    height: 0.2rem;
    background-color: $white;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.5rem);
  }
}
